@import "../../assets/styles/variables.scss";

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 200ms ease-in;
  z-index: 1000;

  &__active {
    visibility: visible;
  }

  &__container {
    width: 600px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 30px;
    color: yellowgreen;
    padding: 15px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: #333;
  }

  &__content {
    width: 560px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
  }

  &__buttons {
    display: flex;
    border-top: 1px solid #E3E4E5;

    .btn {
      text-align: center;
      height: 85px;
      line-height: 85px;
      font-size: 28px;
      flex: 1;
    }

    .cancel__btn {
      color: $sub-font-color;
      border-right: 1px solid #e3e4e5;
    }

    .confirm__btn {
      color: $theme-color;
    }
  }
}
