// 主要的字体颜色
$main-font-color: #333333;
// 次要的字体颜色
$sub-font-color: #808080;
//主字体
$main-font-family: PingFangSC-Medium,
PingFang SC;
//次字体
$sub-font-family: PingFangSC-Regular,
PingFang SC;
// 字体颜色
$third-font-color: #bbbbbb;
// 支付成功的字体颜色
$price-font-color: #2abc6f;
// 主题色
$theme-color: #e5675c;
// 对比-主题色
$contrast-theme-color: #3389ff;
// 背景色
$bg-color: #f1f1f1;
// 下划线颜色
$border-color: #e3e4e5;
// 按钮选中的背景色
$select-bg-btn-color: #333333;
// 查看报告颜色
$check-color: #3389ff;
// 充值按钮选中的背景色
$price-bg-btn-color: #fdf3f2;
